/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

<<<<<<< HEAD
<<<<<<< HEAD
body{
  background-color: #F6F4F2;
}

.statusbar-overlay {
  background: #000000;
}

.navbar{
  border-bottom: none;
  background: #74baee;
  color: #ffffff;
}


/* for the left panel */
.panel{
  background: #7a9dbb;
}

.list-block ul:before{
  background-color: #8ba9c4;
}

.list-block ul:after{
  background-color: #8ba9c4;
}

.panel .list-block .item-content{
  background: #7a9dbb;
  border-bottom: 1px solid #8ba9c4;
}

.panel .list-block a:active{
  background-color: #5884aa;
}

.panel .list-block i{
  float: left;
  color: #fafafa;
  padding-top: 7px;
  padding-bottom: 8px;
}

.panel .list-block .item-title{
  float: left;
  color: #fafafa;
  padding-top: 5px;
  margin-left: 15px;
}


/* for the schedule page */
.schedule .content-block{
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: solid 2px #E0E0E0;
}

.schedule .content-block h2{
  font-size: 25px;
  text-align: center;
}

.schedule .content-block:nth-child(1){
  margin-top: 15px;
  margin-bottom: 15px;
}

.schedule .content-block:nth-last-child(1){
  border-bottom: none;
}

.schedule .page-content .content-block .content-list{
  width: 100%;
  min-height: 44px;
}

.schedule .page-content .content-block .content-list embed{
  float: left;
}

.schedule .page-content .content-block .courses{
  font-size: 20px;
  float: left;
  margin-left: 15px;
}


/* for the balance page */
.balance .page-content .content-block:nth-child(1){
  margin-top: 10px;
  border-bottom: solid 2px #d0d0d0;
}

.balance .page-content .content-block .row .col-33:nth-last-child(2){
  font-size: 25px;
  padding-top: 10px;
}

.balance .page-content .content-block .amount{
  color: #c63929;
  margin-top: -20px;
}

.balance .page-content .content-block .row .col-33:nth-last-child(1) embed{
  padding-top: 25px;
  float: right;
}

#flash{
  background-color: black;
  opacity: 0;
  z-index: 99;
  height: 40px;
  width: 40px;
  position: absolute;
  margin-top: 25px;
  right: 15px;
}










=======
.statusbar-overlay {
    background: #000000;
}
>>>>>>> 863654ed65398a3dd52b69ccb41f6158c599899f
=======
.statusbar-overlay {
    background: #000000;
}
>>>>>>> 863654ed65398a3dd52b69ccb41f6158c599899f
